[Unit]
Description=Run acticentral refresh script
Requires=acticentral.service

[Timer]
Unit=acticentral.service
OnCalendar=*-*-* *:*:00
OnCalendar=*-*-* *:*:15
OnCalendar=*-*-* *:*:30
OnCalendar=*-*-* *:*:45
AccuracySec=1s

[Install]
WantedBy=timers.target
