[Unit]
Description=Run acticentral refresh script
Requires=acticentral.service

[Timer]
Unit=acticentral.service
OnCalendar=*-*-* *:*:00
AccuracySec=1s

[Install]
WantedBy=timers.target
